{% extends 'base.html.twig' %}

{% block main %}
    <div id="chart" data-items="{{ data | json_encode }}">
        <canvas id="myChart"></canvas>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Open</th>
            <th scope="col">High</th>
            <th scope="col">Low</th>
            <th scope="col">Volume</th>
        </tr>
        </thead>
        <tbody>
        {% for item in data %}
            <tr>
                <th scope="row">{{  item[0] }}</th>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <td>{{ item[4] }}</td>
                <td>{{ item[5] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


